* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    font-weight: bold
  }
  .col-1 {
    background: #D7E8D4;
    flex: 1;
    
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 8;
    
  }
  .content {
    background:deepskyblue;
    display: flex;
    flex-direction: row;
  }
  article {  
    padding:1px;
    margin:5px;
    background: aqua;  
    
    min-height: 2vh;
  }
  .content > aside {
    background: beige;
    
  }
  header, footer {
    background: yellowgreen;
    height: 20vh;
  }
  header, footer, article, nav, aside {
    padding: 3em;
  }